@{layout('')}
@{title(config.name)}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />
	<link href="@{'%cdn'}/spa.min@18.css" rel="stylesheet" />
	<script src="@{'%cdn'}/spa.min@18.js"></script>
	<script src="@{'%cdn'}/openplatform.min@4.js"></script>
	@{import('meta', 'head', 'default.js + ui.js', 'default.css + ui.css', 'favicon.ico')}
</head>
<body data---="exec" data-bind="common.ready__invisible:!value" class="invisible">

	<div data---="LAZY directory"></div>
	<div data---="LAZY menu"></div>

	<div data---="layout__common.layout" class="invisible">

		<script type="text/plain">
			{
				left: { size: 220, show: true },
				main: { show: true },
				mobilemenu: {
					xs: {
						left: { size: '100%', show: true },
						main: { show: false }
					}
				}
			}
		</script>

		<section data-type="left">

			<div data---="viewbox__null__margin:35">
				<div data---="listmenu__common.page__datasource:common.navigation;selector:.item" class="nav">
					<script type="text/html">
						{{ if id }}
						<div class="item" data-id="{{ id }}">
							{{ if canedit }}
							<span class="exec" data-exec="main/menu"><i class="fa fa-ellipsis-h"></i></span>
							{{ fi }}
							<i class="{{ icon }}"></i>
							<div>{{ name }}</div>
						</div>
						{{ else }}
						<hr />
						{{ fi }}
					</script>
				</div>
			</div>
		</section>

		<section data-type="main">
			<div data---="part__common.page__if:users;url:@{#}/parts/users.html;reload:users/reload" class="hidden"></div>
			<div data---="part__common.page__if:settings;url:@{#}/parts/page.html;reload:page/reload" class="hidden"></div>
			<div data---="part__common.page__if:company;url:@{#}/parts/page.html;reload:page/reload" class="hidden"></div>
		</section>
	</div>

	<div data---="importer__common.panel__if:userform;url:/forms/user.html;cleaner:10"></div>

	@{json(user.json(), 'userdata')}

	<script>

		var user = PARSE('#userdata');
		var common = {};

		common.layout = '';
		common.page = 'users';
		common.navigation = [{ id: 'users', icon: 'fa fa-user-friends', name: '@(Users)' }, { id: 'settings', icon: 'fa fa-cog', name: '@(Settings)' }, { /* line */ }, { id: 'company', icon: 'fa fa-building', name: '@(Company)', canedit: true }];

		// Injects jComponent preddefined functionality (number and date/time formatting, language)
		OP.jcomponent();

		// Enables OP themes
		OP.appearance();
		OP.on('appearance', function(obj) {
			// Use custom colors
			CSS('.nav .selected,.button{background-color:{0}}.nav .item > i{color:{0}}'.format(obj.colorscheme), 'op');
		});

		// Toggles menu for mobile devices
		OP.on('menu', function() {
			SET('common.layout', (common.layout === 'mobilemenu' ? '' : 'mobilemenu'));
		});

		PLUGIN('main', function(exports) {

			exports.menu = function(el) {
				var opt = {};
				opt.element = el;
				opt.items = [];
				opt.align = 'right';
				opt.items.push({ id: 'edit', name: '@(Edit template)' });
				opt.callback = function(item) {
					alert(item);
				};
				SETTER('menu', 'show', opt);
			};

		});

	</script>

</body>
</html>