@{layout('')}
@{title('Example of OpenPlatform application')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	@{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico')}
</head>
<body>

	<div class="center">
		<br />
		<br />
		<div><img src="@{user.photo}" /></div>
		<br />
		<div>User: <b>@{user.alias}</b></div>
		<br />
		<button onclick="OPENPLATFORM.close()">Close</button><button onclick="OPENPLATFORM.minimize()">Minimize</button>
	</div>

	<!-- client-side scripts -->
	@{helpers.openplatform()}

	<script>
		OPENPLATFORM.on('minimize', function() {
			console.log('minimize');
		});

		OPENPLATFORM.on('maximize', function() {
			console.log('maximize');
		});

		OPENPLATFORM.on('close', function() {
			console.log('close');
		});

		setTimeout(function() {
			// You can create a notification on server-side too.
			OPENPLATFORM.notify(0, 'Test notification only for you through the iframe window.postMessage(). It\'s very simple.');
		}, 5000);

	</script>

</body>
</html>