@{layout('')}
@{title('OpenPlatform TestApp')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />
	<script src="https://cdn.totaljs.com/openplatform.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	@{import('meta', 'head', 'default.css', 'favicon.ico')}
</head>
<body>

	<div class="panel">
		<nav>
			<button onclick="OPENPLATFORM.minimize()">Minimize</button>
			<button onclick="notify()">Notify</button>
			<button onclick="OPENPLATFORM.close()">Close</button>
		</nav>
		<div class="padding">
			<div id="photo"></div>
			<div id="username">...</div>
		</div>
	</div>

	<script>

		OPENPLATFORM.init(function(err, meta) {

			if (err) {
				document.body.innerHTML = '401: unauthorized';
				window.close();
				return;
			}

			$('#photo').html('<img src="' + meta.profile.photo + '" />');
			$('#username').html(meta.profile.name + '<br /><b>' + meta.profile.position + '</b>');

			console.log('TestApp --> meta');
			console.log(meta);
		});

		OPENPLATFORM.on('minimize', function() {
			console.log('TestApp --> minimize');
		});

		OPENPLATFORM.on('maximize', function() {
			console.log('TestApp --> maximize');
		});

		OPENPLATFORM.on('close', function() {
			console.log('TestApp --> close');
		});

		function notify() {
			OPENPLATFORM.notify(1, 'Test notification only for you through the iframe window.postMessage(). It\'s very simple.');
		}

	</script>

</body>
</html>