/*auto*/

html,body { overflow: hidden; margin: 0; padding: 0; color: #303030; }
body.opbody { background: #E0E0E0; }
body.ui-dark.opbody { background: #404040; }

h2 { margin: 0 0 10px; padding: 0; font-size: 16px; }
h2 span { float: right; color: gray; font-weight: normal; font-size: 12px; margin: 5px 0 0; }

.nav { padding: 10px 0; }
.nav .item { height: 28px; cursor: pointer; margin: 2px 8px 3px; border-radius: var(--radius); }
.nav .item > span { float: right; width: 24px; font-size: 12px; padding: 7px 5px 0 0; text-align: right; color: gray; }
.nav .item > span:hover { color: black; }
.nav .item > i { float: left; width: 24px; font-size: 14px; padding: 7px 0 0 10px; color: gray; }
.nav .item > div { margin: 0 40px 0 32px; padding: 4px 0 0 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.nav .selected { color: white !important; background-color: var(--color); }
.nav .selected i { color: white !important; }
.nav .selected i.green { color: #68B25B !important; }
.nav hr { margin: 10px 0; }

.header { height: 45px; padding: 0 10px 0 0; border-bottom: 1px solid #E0E0E0; text-align: right; }
.ui-dark .header { border-color: #404040; }
.header button, .toolbar button { outline: 0; background: linear-gradient(white,#F8F8F8); border: 1px solid #E0E0E0; border-left: 0; font-size: 11px; height: 24px; padding: 0 8px; margin: 0; color: black; min-width: 80px; text-align: center; vertical-align: top; background-color: #FFF; }
.header button i, .toolbar button i { margin-right: 5px; }
.header button .fa-plus-circle, .header button .fa-check-circle, .toolbar button .fa-plus-circle, .toolbar button .fa-check-circle { color: #68B25B; }
.header button:first-child, .toolbar button:first-child { border-left: 1px solid #E0E0E0; border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); }
.header button:last-child, .toolbar button:last-child  { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
.header button:hover, .toolbar button:hover { border-color: #D0D0D0; }
.header button:active, .toolbar button:active { background: #E9E9E9; }
.header button:disabled, .toolbar button:disabled { color: silver; cursor: not-allowed; border-color: #E0E0E0 !important; background: linear-gradient(#F8F8F8,#F0F0F0); }
.header button:disabled i, .toolbar button:disabled i { color: silver !important; }
.header button.right, .toolbar button.right { float: right; margin-left: 5px; margin-right: 0; text-align: center; }

.ui-dark .header button, .ui-dark  .toolbar button { background: linear-gradient(#323232,#353535); border-color: #404040; color: white; }
.ui-dark .header button:hover, .ui-dark  .toolbar button:hover { border-top-color: #505050; border-bottom-color: #505050; }
.ui-dark .header button:disabled, .ui-dark .toolbar button:disabled { color: #505050; border-color: #353535 !important; background: linear-gradient(#202020,#252525); }
.ui-dark .header button:disabled i, .ui-dark .toolbar button:disabled i { color: #505050 !important; }

.header > div { height: 44px; padding: 10px 0 0; }
.header .highlight { background-color: #FFFFD5; }
.header .back { float: left; height: 44px; line-height: 44px; width: 45px; border-right: 1px solid #E0E0E0; text-align: center; cursor: pointer; color: black; }
.header .back i { margin: 0; }
.header .back:hover { color: white; }
.header label { float: left; line-height: 44px; font-weight: bold; margin-left: 10px; }
.header label i { margin-right: 5px; }

.button { background-color: $color; border: 0; color: white; cursor: pointer; outline: 0; width: 100%; border-radius: var(--radius); height: 40px; font-family: Arial; font-weight: bold; }
.button:hover { box-shadow: 0 2px 5px rgba(0,0,0,0.1); opacity: 0.9; }
.button:disabled { background-color: #E0E0E0; color: silver; cursor: not-allowed; box-shadow: none; opacity: 1; }
.ui-dark .button:disabled { background-color: #404040; }
.button i { margin-right: 7px; }