/*auto*/

body { padding:0; margin:0; font:normal 14px Arial; color: #656D78; background-color: #F0F0F0; line-height: 20px; }

.panel { position: absolute; left: 50%; top: 50%; width: 250px; height: 250px; margin: -125px 0 0 -125px; box-shadow: 0 3px 10px rgba(0,0,0,0.1); background-color: white; border: 1px solid #E0E0E0; border-radius: 4px; }
#photo { text-align: center; margin: 10px 0; }
#photo img { border-radius: 4px; }
#username { text-align: center; }
.padding { padding: 20px; }

nav { display: block; height: 40px; }
nav button { float: left; width: 33.33%; background-color: white; border: 0; font-size: 14px; height: 40px; border-bottom: 1px solid #E0E0E0; border-left: 1px solid #E0E0E0; cursor: pointer; outline: 0; }
nav button:first-child { border-left: 0; border-radius: 4px 0 0 0; }
nav button:last-child { border-radius: 0 4px 0 0; }
nav button:hover { background-color: #F0F0F0; }